@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: orange;
  color: blue;

  .container {
    background-color: #fff;
		height: 45em;
  }

	.square {
		margin-left: -1px;
    margin-bottom: -1px;
		padding: 0;
		vertical-align: top;
		border-collapse:collapse;
		border: 1px solid red;
		float: left;
		height: 12em;
		width: 12em;
	}

  .played_0 {
		height: 12em;
		width: 12em;
	}

	.played_0:after {
		padding: 3px;
		content: 'O';
  	font-size: 200px;
		line-height: 140px;
		color: blue;
	}

	.played_1 {
		height: 12em;
		width: 12em;
	}

	.played_1:after {
		padding: 16px;
		content: 'X';
  	font-size: 200px;
		line-height: 140px;
		color: black;
	}

	.board {
		position: absolute;
	}

  .gameover {
		background: red;
		z-index: 10;
	}

  .play-again {
		position: absolute;
		top: 22em;
		left: 22.5em;
		z-index: 20;
	}

	.highscores {
		position: absolute;
		left: 50em;
	}

	.highscores ol {
		padding: 0;
		list-style-type: none;
	}
}
